<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>First:</b>
  <%= @user.first_name %>
</p>
<p>
  <b>Last:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @user.zip %>
</p>

<p>
  <b>Is Active:</b>
  <%= @user.is_active %>
</p>

<p>
  <b>Amount spent:</b>
  <%= number_to_currency(@user.amount_spent) %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
