<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Order ID</th>
    <th>Driver ID</th>
    <th>Pay type</th>
    <th>CC Number</th>
    <th>Is Delivered?</th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.order_id %></td>
    <td><%= purchase.driver_id %></td>
    <td><%= purchase.pay_type %></td>
    <td><%= purchase.cc_number %></td>
    <td><%= purchase.is_delivered %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
<p><%#= will_paginate @purchases -- look at Kaminari railscast http://railscasts.com/episodes/254-pagination-with-kaminari?view=comments%></p>
