<div class="order_title">Your Order</div>

<table>
	<%= render(order.preferences) %>

	<%= render(order.include_drinks) %>

	<tr class="total_line">
		<td colspan="3"><br/>Subtotal: </td>

		<td class="total_cell"><br/><%= number_to_currency(order.total_price) %></td>
	</tr>

	<tr class="total_line">
		<td colspan="3"><br/>Tax: </td>
		<td class="total_cell"><br/><%= number_to_currency(order.tax_total) %></td>
	</tr>

	<tr class="total_line">
		<td colspan="3"><br/>Total: </td>

		<% if order.tax_total %>
			<td class="total_cell"><br/><%= number_to_currency(order.total_price + order.tax_total) %></td>
		<% else %>
			<td class="total_cell"><br/><%= number_to_currency(order.total_price) %></td>
		<% end %>

	</tr>

</table>

<%= button_to 'Checkout', new_purchase_path, method: :get %> 
<%= button_to 'Clear order', order, method: :delete, confirm: 'Are you sure?' %>