<%= form_for(@preference) do |f| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <b>Ingredient:</b>
        <br/>

    <%= select_tag('ingredients[]', options_for_select(@ingredients.collect.each {|ingredient| [ingredient.name, ingredient.id]}), :multiple => true, :size => 4) %>
 <br/>
      <br/>

    <b>Size:</b>

    <br/>  

   <%= select_tag(:pizza_size, options_for_select(@pizzas.collect.each {|pizza| pizza.size})) %>
    <br/>

        <br/>
    <b>Crust:</b>
        <br/>
    <%= select_tag(:pizza_crust, options_for_select(@pizzas.collect.each {|pizza| pizza.crust})) %>
   <br/>
      <br/>
  <div class="field">
      <%= label_tag :q, "Enter quantity:" %><br />
      <%= number_field_tag :q %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
