
<%# if preference.pizza %>

<td><%= preference.quantity  %> &times;</td>

<% for combo in preference.combos %>


	<tr>
		<% if combo == preference.combos.first %>

			<td><%= combo.pizza.size %></td>
			<td><%= combo.pizza.crust %></td>

		<% end %>

		<% if combo.ingredient %>

			<% if combo != preference.combos.first %>
				<td></td>
				<td></td>
			<% end %>
				<td><%= combo.ingredient.name %></td>
		<% else %>
			<td></td>
		<% end %>

		<% if combo == preference.combos.last %>
			<td class="item_price"><%= number_to_currency(preference.price) %></td>
		<% end %>
	</tr>

<% end %>
