<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Order:</b>
  <%= @preference.order_id %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@preference.price) %>
</p>

<p>
  <b>Combo:</b>
  <% for combo in @preference.combos.each do %>
    <%= combo.pizza.size %>

  	<%= combo.pizza.crust %>

  	<% if combo.ingredient %> 
  		<%= combo.ingredient.name %>
  	<% end %>

  <% end %>
</p>



<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
