<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label :total_hours %><br />
    <%= f.number_field :total_hours %>
  </div>
  <div class="field">
    <%= f.label :vehicle %><br />
    <%= f.text_field :vehicle %>
  </div>
  <div class="field">
    <%= f.label :cost_per_mile %><br />
    <%= f.number_field :cost_per_mile %>
  </div>
  <div class="field">
    <%= f.label :current_location %><br />
    <%= f.text_field :current_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
