<%= form_for(@driver_schedule) do |f| %>
  <% if @driver_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver_schedule.errors.count, "error") %> prohibited this driver_schedule from being saved:</h2>

      <ul>
      <% @driver_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_id %><br />
    <%= f.number_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
