<%= form_for(@include_drink) do |f| %>
  <% if @include_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@include_drink.errors.count, "error") %> prohibited this include_drink from being saved:</h2>

      <ul>
      <% @include_drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drink_id %><br />
    <%= f.number_field :drink_id %>
  </div>
  <div class="field">
    <%= f.label :preference_id %><br />
    <%= f.number_field :preference_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
