<!DOCTYPE html>
<html>
<head>
  <title>Pp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= @page_title || "CMSC424 Pizza Restaurant" %>
	</div>

	<div id="columns">
		<div id="side"> 
			<div id="order">
				<% if current_user %>
				<%# if session[:user_id] %>
					<% if @order %>
						<%= render @order %>
					<% end %>
				<% end %>
			</div>

			<ul>
				<%= link_to 'Home', store_path %> <br/>

				<% if !current_user %>
					<%= link_to 'Register', new_user_path %> <br/>
					<%= link_to 'Login', login_path %> 
				<% end %>

			</ul> 

			<% if current_user %>
			<%# if session[:user_id] %>
				<ul>
					<li><%= link_to "Invoice History", history_url(:id => current_user.id) %></li>
					<li><%= link_to 'Logout', logout_path, method: :delete %></li>
					<li><%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %></li>

					<!-- Administrator Links -->
					<br/>
					<div id="order">Admin Links:</div>

					<li><%= link_to 'Set Happy Hour', set_happy_hour_path %></li>
					<li><%= link_to 'Purchases', purchases_path %></li>

					<li><%= link_to 'Drinks', drinks_path %></li>
					<li><%= link_to 'Ingredients', ingredients_path %></li>
					<li><%= link_to 'Pizzas', pizzas_path %></li>
					<li><%= link_to 'Tax Rates', tax_rates_path %></li>
					<li><%= link_to 'Users', users_path %></li>
					<li><%= link_to 'Drivers', drivers_path %></li>



					<!--Queries-->
					<br/>
					<div id="order">Admin Queries:</div>
					
					<li><%= link_to 'Time Window Revenue', store_path %></li>
					<li><%= link_to 'Happy Hour Analysis', store_path %></li>
					<li><%= link_to 'Preferred Customers', preferred_customers_path %></li>
					<li><%= link_to 'Inactive Customers', inactive_path %></li>

				</ul>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>


		</div>

		<div id="main"> 
			<%= yield %>
	    </div>
  	</div>
</body>
</html>
